.pagination {
  display: flex;
  margin-right: 4rem;

  &__button {
    cursor: pointer;
    color: #8c92ac;
    font-size: 1.8rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease 0s;
    padding: 0.5rem;
    border-radius: 5px;

    &:hover,
    &:visited {
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
      transform: translateY(-0.5px);
    }

    &:last-of-type {
      margin-left: 1rem;
    }
  }
}
